body{
    background-color: #1A1A1A;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: monospace;
}

.container{
    align-items: center;
}
.card{
    height: auto;
    margin-top: 10vh;
    margin-bottom: auto;
    width: 400px;
    text-align: center;
    
    background-color: rgba(255,255,255,0.7) !important;
}
.card-header{
    background-color: rgba(193, 72, 191,0.3) !important;
}

.btn-primary{
    background-color: rgba(193, 72, 191,0.3) !important;
}
